export OPENAI_API_KEY='<API_KEY>'

export OPENSEARCH_INITIAL_ADMIN_PASSWORD=<OPENSEARCH_INITIAL_ADMIN_PASSWORD>


# For security ON (default values shown; change to yours)
export OPENSEARCH_URL=https://localhost:9200
export OS_USER=admin
export OS_PASS=<OPENSEARCH_ADMIN_PASSWORD>
# set to true if you bring your own CA bundle and want strict TLS
export OS_VERIFY=false

TZ=Australia/Brisbane

# PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_DB=course_assistant
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5432

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_SECRET_KEY=SECRET_KEY