OPENAI_API_KEY='<openai_api_key_here>'

OPENSEARCH_INITIAL_ADMIN_PASSWORD=<opensearch_password_here>

# For security ON (default values shown; change to yours)
OPENSEARCH_URL=https://localhost:9200
OS_USER=admin
OS_PASS=<opensearch_password_here>
# set to true if you bring your own CA bundle and want strict TLS
OS_VERIFY=0

APP_PORT=5001

TZ=Australia/Brisbane

# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_DB=content_pal
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Grafana Configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123
GRAFANA_SECRET_KEY=admin123