[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
flask = "*"
minsearch = "*"
opensearch-py = "*"
sentence-transformers = "*"
lightgbm = "*"
scikit-learn = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
python-multipart = "*"
flask-cors = "*"
gunicorn = "*"
transformers = {extras = ["torch"], version = "*"}
streamlit = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
python-dotenv = "*"
pgcli = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
