[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
flask = "*"
opensearch-py = "*"
minsearch = "*"
lightgbm = "*"
scikit-learn = "*"
datasets = "*"
sentence-transformers = "*"
spacy = "*"
transformers = "*"
keybert = "*"
wikipedia-api = "*"
beautifulsoup4 = "*"
psycopg2-binary = "*"
gunicorn = "*"
questionary = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
ipykernel = "*"
python-dotenv = "*"
gunicorn = "*"
pgcli = "*"

[requires]
python_version = "3.11"
