[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
flask = "*"
opensearch-py = "*"
minsearch = "*"
lightgbm = "*"
scikit-learn = "*"
datasets = "*"
transformers = {extras = ["torch"], version = "*"}
sentence-transformers = "*"
spacy = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
ipykernel = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"
